<div class="buttons">
    <app-return-button></app-return-button>
    <button mat-fab color="warn" aria-label="Delete user" (click)="openWarningDialog()">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div class="user default-form">
    <h4>Edit user</h4>
    <form class="user__form" (ngSubmit)="submitUser()" [formGroup]="userForm">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Fill user name" formControlName="name">
        </mat-form-field> 

        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
    </form>
</div>
