<app-return-button></app-return-button>
<div class="task default-form">
    <h4>Create task</h4>
    <form class="task__form" (ngSubmit)="submitTask(formDirective)" [formGroup]="taskForm" #formDirective="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Fill task name" formControlName="name">
        </mat-form-field> 

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Fill task description" formControlName="description"></textarea>
        </mat-form-field> 

        <mat-form-field appearance="outline">
            <mat-label>Assign user (optional)</mat-label>
            <mat-select formControlName="selectedUser">
                <mat-option *ngFor="let user of users" [value]="user">
                  {{user.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Change state (optional)</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state" [disabled]="!taskForm.value.selectedUser?.id">
                  {{state}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Submit</button>
    </form>
</div>
