<app-return-button></app-return-button>
<div class="user default-form">
    <h4>Create user</h4>
    <form class="user__form" (ngSubmit)="submitUser(formDirective)" [formGroup]="userForm" #formDirective="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Fill user name" formControlName="name">
        </mat-form-field> 

        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
    </form>
</div>