<app-navigation-tab></app-navigation-tab>
<div class="list">
    <table *ngIf="(taskService.tasks$ | async)?.length">
        <thead>
            <tr>
                <th *ngFor="let header of taskTableHeaders">{{ header }}</th>
            </tr>
            <tr></tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let task of (taskService.tasks$ | async)" routerLink="/task/{{task.id}}">
                <td>{{ task.name }}</td>
                <td>{{ task.assignedUser?.name ? task.assignedUser?.name : '-' }}</td>
                <td>{{ task.creationDate | date:' HH:mm - dd/MM/yy' }}</td>
                <td>{{ task.modificationDate | date:'HH:mm - dd/MM/yy' }}</td>
                <td>{{ task.state }}</td>
                <td><mat-icon>edit</mat-icon></td>
            </tr>
        </tbody>
    </table>
    
    <h4 *ngIf="!(taskService.tasks$ | async)?.length">Please create task first</h4>
</div>
