@import './assets/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.default-form {
    margin: 0 auto;
    margin-top: 60px;
    width: 440px;

    &__form {
        display: flex;
        flex-direction: column;
    }
}

.task, .user {
    &__form {
        display: flex;
        flex-direction: column;
    }
}

.list {
    table {
        border-collapse: collapse;
        width: 100%;

        th {
            padding: $list-padding-x;
            text-align: start;
        }

        tbody {
            td {
                padding: $list-padding-y $list-padding-x;

                &:last-child {
                    padding-right: 36px;
                    text-align: end;
                }
            }

            tr {
                cursor: pointer;
                border-bottom: 2px solid whitesmoke;

                &:hover {
                    background-color: whitesmoke;
                }
            }
        }
    }
}