
<div class="home">
    <div class="home__buttons">
        <div class="home__navigation">
            <button mat-raised-button color="primary" routerLink="create-user">Create user</button>
            <button mat-raised-button color="primary" routerLink="create-task">Create task</button>
        </div>

        <button mat-raised-button color="primary" (click)="toggleLists()">{{ isTaskShowed ? 'Task' : 'User' }} list</button>
    </div>

    <div class="home__lists">
        <div class="home__users" *ngIf="!isTaskShowed">
            <div *ngFor="let user of (userService.users$ | async)">
                {{user.name}}
            </div>
        </div>

        <table class="home__tasks" *ngIf="isTaskShowed">
            <thead>
                <tr>
                    <th *ngFor="let header of headers">{{ header }}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let task of (taskService.tasks$ | async)" routerLink="task/{{task.id}}">
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignedUser?.name ?? '-' }}</td>
                    <td>{{ task.creationDate | date:' HH:mm - dd/MM/yy' }}</td>
                    <td>{{ task.modificationDate | date:'HH:mm - dd/MM/yy' }}</td>
                    <td>{{ task.state }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>